@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@700&display=swap');

body {
    --cat-size: 64px;
}

.info-window {
    /* font-family: 'Pixelify Sans', 'StarDust Bold', sans-serif; */
    position: absolute;
    /* background-color: #fff; */
    font-size: 12px;
    left: calc(var(--cat-size) + 8px);
    top: -2px;
    display: none;
}

body.dev_mode .pisces.selected .info-window,
body.dev_mode .cat.selected .info-window,
body.dev_mode .hp-bar,
.selected .hp-bar {
    display: initial;
}

.cat.left .info-window {
    left: initial;
    right: calc(var(--cat-size) + 8px);
}

.info-window table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 175px;
}

.info-window table th,
.info-window table td {
    border: 2px dashed #4caf50;
    color: #212121;
    padding: 2px 4px;
    background-color: #ffffff60;
}

.cat .info-window table th,
.cat .info-window table td {}

.pisces .info-window table th,
.pisces .info-window table td {
    border-color: #FFC107;
    /* color: #FFC107; */
}

.yarnball .info-window table th,
.yarnball .info-window table td,
.waterbottle .info-window table th,
.waterbottle .info-window table td {
    border-color: #FF5722;
    /* color: #FF5722; */
}

.info-window table th:nth-child(1) {
    width: 50px;
}

.cat {
    width: var(--cat-size);
    height: var(--cat-size);
    background: url('../img/cat_skin_우유.png');
    background-size: calc(8 * var(--cat-size)) calc(9 * var(--cat-size));
    image-rendering: pixelated;
    position: absolute;
    display: flex;
    justify-content: center;

    z-index: 10;
    animation: cat 1s steps(8, jump-none) infinite;

    cursor: pointer;

    /* for selected class */
    transform-style: preserve-3d;
}

/* shadow */
.cat:not(.유령):after {
    content: '';
    background: url('../img/cat_skin_그림자.png');
    width: inherit;
    height: inherit;
    background-size: inherit;
    image-rendering: inherit;
    animation: cat 1s steps(8, jump-none) infinite;
    filter: none;
}

@keyframes cat {
    to {
        background-position-x: calc(var(--cat-size) * -7)
    }
}

@keyframes start-from-first-step {
    to {
        background-position-x: calc(var(--cat-size) * -7)
    }
}

body.dev_mode .cat,
body.dev_mode .cat.유령,
body.dev_mode .pisces {
    outline: 2px dashed #FFC107;
    border-radius: 4px;
}

body.dev_mode .yarnball,
body.dev_mode .waterbottle {
    outline-color: #FF5722;
}

body.dev_mode .cat {
    outline-color: #4caf50;
    background-color: #ffffff60;
}

.cat.left,
.pisces.left figure,
.cat.left .info-window {
    transform: scaleX(-1);
}



.cat.watch,
.cat.watch:after {
    background-position-y: calc(var(--cat-size) * -1);
}

.cat.walk,
.cat.walk:after {
    background-position-y: calc(var(--cat-size) * -2);
}

.cat.run,
.cat.run:after {
    background-position-y: calc(var(--cat-size) * -3);
}

.cat.drag,
.cat.drag:after {
    background-position-y: calc(var(--cat-size) * -4);
    z-index: 11;
}

.cat.lick,
.cat.lick:after {
    background-position-y: calc(var(--cat-size) * -5);
}

.cat.wash,
.cat.wash:after {
    background-position-y: calc(var(--cat-size) * -6);
}

.cat.stretch,
.cat.stretch:after {
    animation-name: start-from-first-step;
    background-position-y: calc(var(--cat-size) * -7);
}

.cat.surprised,
.cat.surprised:after {
    animation-name: start-from-first-step;
    background-position-y: calc(var(--cat-size) * -8);
}


/*
 * 고양이 선택했을때 세부 사항 표시
 */

.cat.selected:before,
.pisces.selected:before {
    content: '';
    --width: 32px;
    --border-width: 2px;
    width: calc(var(--width));
    height: calc(var(--width)/2);
    top: calc(55px - var(--width)/4 - var(--border-width));
    left: calc(32px - var(--width)/2 - var(--border-width));
    border: var(--border-width) solid #4caf50;
    position: absolute;
    border-radius: 50%;
    transform: translateZ(-1px);
}

body.dev_mode .pisces.selected {
    background-color: #ffffff60;
    z-index: 10;
}

.pisces.selected:before {
    border-color: #FFC107;
}

.yarnball.selected:before,
.waterbottle.selected:before {
    border-color: #FF5722;
}

/* hp bar */
.hp-bar {
    position: absolute;
    display: none;
    top: calc(100% + 4px);
    filter: brightness(100%) hue-rotate(0);
}

.hp-bar.show {
    display: initial;
}

.cat:hover .hp-bar,
.pisces:hover .hp-bar {
    display: initial;
}

.hp-bar table {
    border-collapse: collapse;
    border-spacing: 0;
}

.hp-bar td {
    border: 2px solid #212121;
    width: 2px;
    height: 4px;
    background-color: #ffffff;
}

.hp-bar .high td.on,
.hp-bar .high td.on {
    background-color: #4caf50;
}

.hp-bar .mid td.on {
    background-color: #FFC107;
}

.hp-bar .low td.on {
    background-color: #FF5722;
}

/*
 * 고양이 울음 소리 말풍선
 */
.meow {
    font-family: 'Pixelify Sans', sans-serif;
    position: absolute;
    background-color: #fff;
    font-size: 12px;
    animation: meow 2s;
    padding: 4px;
    border: 2px solid #777;
    border-radius: 4px;
    z-index: 10;
}

.meow::before,
.meow::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: 100%;
    left: calc(50% - 6px);
    border: 6px solid;
    border-color: #777 transparent transparent transparent;
}

.meow::after {
    margin-top: -3px;
    border-color: #fff transparent transparent transparent;
}

@keyframes meow {
    to {
        opacity: 0;
        visibility: hidden;
        margin-top: -16px;
    }
}

/* 유령 */
.cat.유령 {
    z-index: 11;
    /* pointer-events: none; */
}

.cat.유령:before {
    border: 2px dashed #2196F3;
}

body.dev_mode .cat.유령 {
    background-color: transparent;
    outline: none;
}

body.dev_mode .cat.유령 .info-window,
.cat.유령 .hp-bar {
    display: none;
}