/* ------------------------------------------------------------------- */
/* ***** context-menu ***** */
/* ------------------------------------------------------------------- */
#context,
.context {
  z-index: 16;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  cursor: default;
  /* color: rgba(0, 0, 0, .5); */
  background-color: #fff;
  /* border: 1px solid #bbb; */
  border-radius: 3px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  transition: .25s;
  transition-property: opacity, transform, margin, visibility;
  top: 50%;
  font-size: 14px;
  max-width: 350px;
  transform: perspective(1000px) rotateX(5deg);
  margin-top: -2em;
  text-overflow: hidden;
}

#context {
  /* font-family: 'StarDust Bold', sans-serif; */
}

.context {
  position: absolute;
  min-width: 50px;
  white-space: nowrap;
  transform: none;
  margin-top: 0;
}

#context ul {
  padding: .5em 0;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.general__dark #context ul {
  border-bottom: 1px solid rgba(255, 255, 255, 0.125);
}

#context ul:last-child {
  border-bottom: none;
}

#context ul li {
  height: 16px;
  display: flex;
  align-items: center;
  padding: .5em 1em;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

#context .activated {
  background-color: #FFF9C4;
}

#context ul li.disabled {
  color: #aaa;
}

#context ul li:not(.disabled):hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#context ul li:not(.disabled):hover .context,
.context:hover {
  opacity: 1;
  visibility: visible;
}

#context.on,
.context:hover {
  transform: none;
  transform-origin: 50% 100%;
  margin-top: 0;
  visibility: visible;
  opacity: 1;
}

#context .shortcut {
  position: absolute;
  margin-right: 2em;
  right: 0;
}

#context .shortcut::before {
  /* content: "("; */
}

#context .shortcut::after {
  /* content: ")"; */
}

#context .skill_wrap {
  display: flex;
  padding-left: 3em;
  flex-wrap: wrap;
}

#context .icon,
#resources .icon,
#settings .icon {
  position: inherit;
  --sprite-block-size: 32px;
  width: var(--sprite-block-size);
  height: var(--sprite-block-size);
  background: url('../img/context.png');
  background-size: calc(6 * var(--sprite-block-size)) calc(5 * var(--sprite-block-size));
  background-position-y: calc(var(--sprite-block-size) * 1);
  background-repeat: no-repeat;
  image-rendering: pixelated;
  padding: 0px;
  outline: none;
  animation: none;
}

#context .icon {
  margin: 0 12px 0 0;
}

#context .skill {
  outline: none;
  position: static;
  color: transparent;
  border: 8px solid #fff;
  margin: 0;
}

#context .skill:hover {
  border-color: #ccc;
}

#context .skill.activated,
#context .skill.activated:hover {
  background-color: #FFF9C4;
  border-color: #FFF9C4;
}

#context .icon.cat {
  background-position-y: calc(var(--sprite-block-size) * 0);
}

#context .icon.fish {
  background-position-y: calc(var(--sprite-block-size) * -1);
}

#context .icon.cucumber {
  background-position-y: calc(var(--sprite-block-size) * -2);
}

#context .icon.mineral {
  background-position-y: calc(var(--sprite-block-size) * -3);
}

#context .icon.random {
  animation: random 1s steps(4) infinite;
}

#context .icon.yarnball {
  background-position-y: calc(var(--sprite-block-size) * -4);
}

@keyframes random {
  from {
    background-position-y: calc(var(--sprite-block-size) * -1);
  }

  to {
    background-position-y: calc(var(--sprite-block-size) * -5);
  }
}

#context .icon.activated,
#context .activated .icon {
  background-position-x: calc(var(--sprite-block-size) * -1);
}

#context .icon.timer {
  background-position: calc(var(--sprite-block-size) * -5) 0;
}

#context .icon.bucket {
  background-position: calc(var(--sprite-block-size) * -4) 0;
}

#context_bt {
  display: none;
}

/**
 * RESOURCES
 */
ul#resources {
  position: fixed;
  right: 0;
  margin: .5em 1em 0 0;
  padding: 0;
  /* font-family: 'StarDust Bold', sans-serif; */
  color: #4caf50;
  display: flex;
  z-index: 15;
  pointer-events: none;
}

#resources li {
  display: inline-block;
  list-style: none;
  margin-right: 3em;
  display: flex;
  align-items: center;
}

#resources .icon {
  position: inherit;
  display: inline-block;
  --sprite-block-size: 16px;
  width: var(--sprite-block-size);
  height: var(--sprite-block-size);
  background-repeat: no-repeat;
  image-rendering: auto;
  margin: 0 6px 0 0;
  padding: 0px;
  animation: none;
  outline: 2px solid #303F9F;
  background-color: #E8EAF6;
}

#resources .icon.iconcat {
  background-position: calc(var(--sprite-block-size) * 0)calc(var(--sprite-block-size) * 0);
}

#resources .icon.mineral {
  background-position: calc(var(--sprite-block-size) * -2)calc(var(--sprite-block-size) * -3);
}

/**
 * SETTINGS
 */

#setting_bt {
  right: 1em;
  color: rgba(0, 0, 0, .25);
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 20;
  cursor: pointer;
  padding: 0.25em;
  font-size: 18px;
  margin: -18px -18px 0 0;
  border-radius: 50%;
  position: absolute;
}

#setting_bt.on {
  color: #FBC02D;
}

#settings {
  /* display: none; */
  height: 0;
  opacity: 0;
  transition: .5s;
  overflow: hidden;
  visibility: hidden;
  /* pointer-events: none; */
}

#settings.on {
  display: inherit;
  opacity: 1;
  border-top: 1px solid #ddd;
  visibility: visible;
}

#settings div {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

#settings .icon {
  border: 1px solid silver;
  border-radius: 4px;
  cursor: pointer;
}

#settings .icon.on {
  font-weight: bold;
  color: #FF5722;
}

#settings .icon:not(:last-child) {
  margin-right: .5em;
}

#settings .icon.enf {
  background-position: calc(var(--sprite-block-size) * -2)calc(var(--sprite-block-size) * -2);
}

#settings .icon.enf.on {
  background-position-x: calc(var(--sprite-block-size) * -3);
}

#settings .icon.tk {
  background-position: calc(var(--sprite-block-size) * -2)calc(var(--sprite-block-size) * -1);
}

#settings .icon.tk.on {
  background-position-x: calc(var(--sprite-block-size) * -3);
}

#settings .icon.jw {
  background-position: calc(var(--sprite-block-size) * -2)calc(var(--sprite-block-size) * 0);
}

#settings .icon.jw.on {
  background-position-x: calc(var(--sprite-block-size) * -3);
}