@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display");

#book {
  margin: auto;
  z-index: 11;
  position: absolute;
  width: fit-content;
  height: fit-content;
  background: #fffffff0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .25);
  transition: box-shadow .25s;
  border-radius: .5em;
  cursor: move;
}

body.dev_mode #book,
#book.selected {
  outline: 2px dashed #212121;
  box-shadow: 0px 5px 11px rgba(0, 0, 0, .25);
}

#book:hover {
  box-shadow: 0px 5px 11px rgba(0, 0, 0, .25)
}

#book.selected:before {
  border: none;
}

.pages {
  position: relative;
  z-index: 10;
  /* background-image: none; */
  /* opacity: 1; */
  padding: 1em 1.25em 0.7em;
  transition: box-shadow .25s, opacity .25s;
}

.pages:hover {
  opacity: 1;
}

.numd {
  text-align: right;
}

.numc {
  text-align: left;
}

.numbox {
  display: inline-block;
}

.numbox.on {
  animation: time_on .25s infinite;
}

@keyframes time_on {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-.1em);
  }

  50% {
    transform: translateY(-.1em);
  }

  75% {
    transform: translateY(.1em);
  }

  100% {
    transform: translateY(0);
  }
}

#outbox {
  position: relative;
  border: 1px solid silver;
  padding: 1ex;
  max-width: 30em;
  width: calc(100% - 2ex - 2px);
  height: 6em;
  margin: auto;
}

.countdown {
  clear: both;
  font-size: 2em;
  text-align: center;
  line-height: 1;
  cursor: default;
  white-space: nowrap;
  color: #212121;
  pointer-events: none;
}

#info {
  height: 6em;
  margin: auto;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
}

#outbox.on #output_msg,
#outbox.on #output {
  display: none;
}

.offclick {
  background-color: #fff;
}


/**
 * SETTINGS
 */

#setting_bt {
  right: 1em;
  background-color: rgba(0, 0, 0, .25);
  cursor: pointer;
  padding: 0.25em;
  font-size: 18px;
  margin: -8px -10px 0 0;
  border-radius: 50%;
  position: absolute;
}

#setting_bt:hover {
  background-color: #2196F3;
}

#setting_bt.on:hover {
  background-color: #F44336;
}

#settings {
  /* display: none; */
  height: 0;
  opacity: 0;
  transition: .5s;
  overflow: hidden;
  visibility: hidden;
  /* pointer-events: none; */
}

#settings.on {
  display: inherit;
  opacity: 1;
  border-top: 1px solid #ddd;
  visibility: visible;
}

#settings div {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

#settings .icon {
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: pointer;
}

#settings .icon.on {
  font-weight: bold;
  color: #FF5722;
}

#settings .icon:not(:last-child) {
  margin-right: .5em;
}

#settings .icon.enf {
  background-position: calc(var(--sprite-block-size) * -2)calc(var(--sprite-block-size) * -2);
}

#settings .icon.enf.on {
  background-position-x: calc(var(--sprite-block-size) * -3);
}

#settings .icon.tk {
  background-position: calc(var(--sprite-block-size) * -2)calc(var(--sprite-block-size) * -1);
}

#settings .icon.tk.on {
  background-position-x: calc(var(--sprite-block-size) * -3);
}

#settings .icon.jw {
  background-position: calc(var(--sprite-block-size) * -2)calc(var(--sprite-block-size) * 0);
}

#settings .icon.jw.on {
  background-position-x: calc(var(--sprite-block-size) * -3);
}