/* shiny effect */
.effect {
    position: absolute;
    width: inherit;
    height: inherit;

    background-image: url('../img/effect.png');
    background-size: calc(var(--cat-size) * 8) calc(var(--cat-size) * 10);
    background-position: calc(var(--cat-size) * 1) 0;
    background-repeat: no-repeat;
}

.irochi .effect {
    background-position-y: 0;
    animation: irochi .5s steps(6, jump-none);
}

.irochi.drag .effect {
    animation: irochi2 .5s steps(6, jump-none) 2;
    animation-play-state: running;
}

@keyframes irochi {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: calc(var(--cat-size) * -5);
    }
}

@keyframes irochi2 {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: calc(var(--cat-size) * -5);
    }
}

/* 아이템 삭제 등에 사용하는 반짝이는 효과 */
.blink {
    animation: blink-animation 0.2s infinite alternate;
    animation-composition: add;
}

@keyframes blink-animation {
    0% {
        filter: brightness(1);
    }

    100% {
        filter: brightness(5);
    }
}


.택배상자.throw .effect,
.택배상자_쓰레기통.throw .effect {
    background-position-y: calc(var(--cat-size) * -1);
    animation: 쓰레기투척 .5s steps(6, jump-none);
}


@keyframes 쓰레기투척 {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: calc(var(--cat-size) * -5);
    }
}