.pisces {
    background: url('../img/fish.png');
    position: absolute;
    display: flex;
    justify-content: center;
    width: var(--cat-size);
    height: var(--cat-size);
    z-index: 9;
    cursor: pointer;

    background-size: calc(8 * var(--cat-size)) calc(10 * var(--cat-size));
    image-rendering: pixelated;
    --cat-size: 64px;

    animation: pisces .125s steps(1);

    /* for selected class */
    transform-style: preserve-3d;
}

.pisces.drag {
    background-position-x: calc(var(--cat-size) * -1);
    z-index: 11;
}

.pisces.ghost {
    animation: pisces-col3 .25s steps(2) infinite;
    pointer-events: none;
}

.pisces.drag.ghost {
    background-position-x: calc(var(--cat-size) * -5);
}

.goldfish.ghost {
    animation: pisces-col4 .25s steps(2) infinite;
}

@keyframes pisces {
    from {
        background-position-x: calc(var(--cat-size) * -1);
    }

    to {
        background-position-x: 0;
    }
}

.goldfish.drag,
.richmineral.drag,
.richraremineral.drag {
    background-position-x: calc(var(--cat-size) * -3);

}

.goldfish,
.richmineral,
.richraremineral {
    animation-name: pisces-col2;
    background-position-x: calc(var(--cat-size) * -2);
}

@keyframes pisces-col2 {
    from {
        background-position-x: calc(var(--cat-size) * -3);
    }

    to {
        background-position-x: calc(var(--cat-size) * -2);
    }
}


@keyframes pisces-col3 {
    from {
        background-position-x: calc(var(--cat-size) * -5);
    }

    to {
        background-position-x: calc(var(--cat-size) * -3);
    }
}


@keyframes pisces-col4 {
    from {
        background-position-x: calc(var(--cat-size) * -7);
    }

    to {
        background-position-x: calc(var(--cat-size) * -5);
    }
}

.cucumber {
    background-position-y: calc(var(--cat-size) * -1);
}

.mineral,
.richmineral {
    background-position-y: calc(var(--cat-size) * -2);

}

.raremineral,
.richraremineral {
    background-position-y: calc(var(--cat-size) * -3);

}

.yarnball {
    background-position-y: calc(var(--cat-size) * -4);
}

.waterbottle {
    background-position-y: calc(var(--cat-size) * -7);
}

.yarnball.move {
    animation: yarnball .5s steps(3) infinite;
}

@keyframes yarnball {
    from {
        background-position-x: calc(var(--cat-size) * 0)
    }

    to {
        background-position-x: calc(var(--cat-size) * -3);
    }
}

.yarnball.ghost {
    animation: yarnball-ghost .5s steps(3) infinite;
}

@keyframes yarnball-ghost {
    from {
        background-position-x: calc(var(--cat-size) * -4)
    }

    to {
        background-position-x: calc(var(--cat-size) * -7);
    }
}

.waterbottle.down {
    background-position-x: calc(var(--cat-size) * -7);
    animation: waterbottle-down .25s steps(3);
    z-index: 8;
}

@keyframes waterbottle-down {
    from {
        background-position-x: calc(var(--cat-size) * -4)
    }

    to {
        background-position-x: calc(var(--cat-size) * -7);
    }
}

.waterbottle.ghost {
    animation: waterbottle-ghost .25s steps(2) infinite;
    z-index: 8;
}

@keyframes waterbottle-ghost {
    from {
        background-position-x: calc(var(--cat-size) * 0)
    }

    to {
        background-position-x: calc(var(--cat-size) * -4);
    }
}

.waterbottle.down.ghost {
    animation-name: waterbottle-down-ghost;
}

@keyframes waterbottle-down-ghost {
    from {
        background-position-x: calc(var(--cat-size) * -3)
    }

    to {
        background-position-x: calc(var(--cat-size) * -11);
    }
}