@import url('countdown.css');
@import url('cat.css');
@import url('pisces.css');
@import url('context.css');
@import url('context_mobile.css');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://cdn.jsdelivr.net/gh/neodgm/neodgm-webfont@latest/neodgm/style.css');
@import url("https://cdn.jsdelivr.net/npm/galmuri/dist/galmuri.css");

@font-face {
  font-family: 'DNFBitBitv2';
  src: url('../font/DNFBitBitv2.woff2') format('woff2');
  font-weight: 400;
}

body {
  --tile-size: 32px;
  font-family: 'NeoDunggeunmo', sans-serif;
  /* font-family: "Galmuri11", sans-serif; */
  margin: 0;
  height: calc(100vh - 0em);
  overflow: hidden;
  background: url('../img/background_autumn.png');
  background-size: calc(var(--tile-size) * 2);
}

#background {
  display: flex;
  flex-wrap: wrap;
}

#background .tile {
  width: var(--tile-size);
  height: var(--tile-size);
  background: url('../img/background2.png');
  background-size: calc(2 * var(--tile-size)) calc(2 * var(--tile-size));
  background-position: calc(var(--tile-size) * -1) calc(var(--tile-size) * 0);
}

header {
  color: #212121;
  width: fit-content;
  z-index: 2;
  position: relative;
  margin: 0;
}

header h1 {
  font-family: 'jamsil_3';
  font-size: 5em;
  margin: 0;
  text-align: left;
  color: #212121;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: calc(100vw - 1em);
}

header .copyright {
  font-family: 'omyu_pretty';
  text-align: left;
  position: absolute;
  top: -4em;
  left: 63em;
  font-size: .75em;
  white-space: nowrap;
  color: #555;
  border-left: 5em solid rgba(148, 187, 233, 1);
  padding: 1em;
  background: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .25);
  transform: rotate(-5deg);
}

header #type {
  position: relative;
  font-family: 'SKYBORI';
  font-weight: 400;
  font-size: 4em;
  padding-right: .1em;
  animation: type 1.2s infinite;
  width: fit-content;

  color: rgba(148, 187, 233, 1);
  background: linear-gradient(to right, rgba(238, 174, 202, 1) 50%, rgba(148, 187, 233, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes type {
  0% {
    border: none;
  }

  49% {
    border: none;
  }

  50% {
    border-right: .07em solid rgba(148, 187, 233, 1);
  }

  100% {
    border-right: .07em solid rgba(148, 187, 233, 1);
  }
}

#inside_page {
  font-family: "Galmuri11", sans-serif;
  font-size: 12px;
  /* font-weight: bold; */
  color: rgba(125, 125, 125, .125);
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  text-align: left;
  top: 0;
  cursor: default;
  z-index: 1;
}


#inside_page .tag {
  margin: 0 .25em;
  /* transition: color .125s; */
}

#inside_page .tag::selection {
  background-color: transparent;
}

#inside_page .tag:hover {
  color: #ccc;
  text-decoration: underline;
  z-index: 2;
}


footer {
  right: 0;
  bottom: 0;
  width: fit-content;
  position: fixed;
  z-index: 2;
  padding: 1em;
  /* font-size: .8em; */

  color: rgba(0, 0, 0, .5);
}

footer img {
  opacity: .35;
  width: 40px;
  margin: 0 -12px -12px 0;
  cursor: pointer;
}


/** 
 * SPLASH
 */

#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  background: rgba(255, 255, 255, .95);
  z-index: 100;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

#sp_box,
#cat {
  font-size: 3em;
  color: #777;
  font-family: 'jamsil_3';
  text-align: center;
}

.sp_item {
  overflow: hidden;
  display: inline-block;
  transition: 1s;
  white-space: nowrap;
}

#messages {
  max-width: 1280px;
  z-index: 15;
  position: fixed;
  left: 20%;
  bottom: 25%;
  margin: 1em;
  color: #212121;
  pointer-events: none;
  text-shadow: -2px 0px #fff, 0px 2px #fff, 2px 0px #fff, 0px -2px #fff;
}

#messages .message_wrap {
  display: flex;
}

#messages .time {
  width: fit-content;
  margin-right: .5em;
}

@media only screen and (max-width: 768px) {
  #messages {
    max-width: 100%;
    bottom: 0;
    left: 0;
    font-size: 12px;
  }
}

#toast {
  width: fit-content;
  position: absolute;
  padding: .5em .7em;
  border: 2px solid #212121;
  background: #fff;
  z-index: 17;
  transform: translate(-1em, calc(-1em - 100%));
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .25);
  font-size: 12px;
  /* pointer-events: none; */
  display: none;
}

#toast .resources {
  position: relative;
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: 6px;
}

#toast.on {
  display: initial;
}

/* z-index position
017   #toast
016   #context
015   #messages | #resources
014   #context(mobile)
013
012   
011   #book | .cat.drag | .pisces.drag | .유령
010   .cat | 
009   .pisces
008   .waterbottle.유령
007
006
005
004
003
002
001
*/