@import url('countdown.css');
@import url('cat.css');
@import url('context.css');
@import url('context_mobile.css');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://cdn.jsdelivr.net/gh/neodgm/neodgm-webfont@latest/neodgm/style.css');
@import url("https://cdn.jsdelivr.net/npm/galmuri/dist/galmuri.css");

@font-face {
  font-family: 'DNFBitBitv2';
  src: url('../font/DNFBitBitv2.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'StarDust';
  src: url('../font/PF스타더스트.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'StarDust Bold';
  src: url('../font/PF스타더스트 Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'jamsil_3';
  src: url('../font/The Jamsil 3 Regular.woff') format('woff');
}

@font-face {
  font-family: 'SKYBORI';
  src: url('../font/SKYBORI.woff') format('woff');
}

@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'NeoDunggeunmo', sans-serif;
  /* font-family: "Galmuri11", sans-serif; */
  margin: 0;
  /* background: linear-gradient(to bottom, rgba(256, 256, 256, .5) 0%, transparent 10%, transparent 100%); */
  height: calc(100vh - 0em);
  overflow: hidden;
}

header {
  color: #212121;
  width: fit-content;
  z-index: 2;
  position: relative;
  margin: 0;
}

header h1 {
  font-family: 'jamsil_3';
  font-size: 5em;
  margin: 0;
  text-align: left;
  color: #212121;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: calc(100vw - 1em);
}

header .copyright {
  font-family: 'omyu_pretty';
  text-align: left;
  position: absolute;
  top: -4em;
  left: 63em;
  font-size: .75em;
  white-space: nowrap;
  color: #555;
  border-left: 5em solid rgba(148, 187, 233, 1);
  padding: 1em;
  background: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .25);
  transform: rotate(-5deg);
}

header #type {
  position: relative;
  font-family: 'SKYBORI';
  font-weight: 400;
  font-size: 4em;
  padding-right: .1em;
  animation: type 1.2s infinite;
  width: fit-content;

  color: rgba(148, 187, 233, 1);
  background: linear-gradient(to right, rgba(238, 174, 202, 1) 50%, rgba(148, 187, 233, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes type {
  0% {
    border: none;
  }

  49% {
    border: none;
  }

  50% {
    border-right: .07em solid rgba(148, 187, 233, 1);
  }

  100% {
    border-right: .07em solid rgba(148, 187, 233, 1);
  }
}

#inside_page {
  font-family: "Galmuri11", sans-serif;
  font-size: .5em;
  /* font-weight: bold; */
  color: rgba(125, 125, 125, .125);
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  text-align: left;
  top: 0;
  cursor: default;
  z-index: 1;
}


#inside_page .tag {
  margin: 0 .25em;
  /* transition: color .125s; */
}

#inside_page .tag::selection {
  background-color: transparent;
}

#inside_page .tag:hover {
  color: #ccc;
  text-decoration: underline;
  z-index: 2;
}


footer {
  right: 0;
  bottom: 0;
  width: fit-content;
  position: fixed;
  z-index: 2;
  padding: 1em;
  /* font-size: .8em; */

  color: rgba(0, 0, 0, .5);
}

footer img {
  opacity: .35;
  width: 40px;
  margin: 0 -12px -12px 0;
  cursor: pointer;
}


/** 
 * SPLASH
 */

#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  background: rgba(255, 255, 255, .95);
  z-index: 100;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

#sp_box,
#cat {
  font-size: 3em;
  color: #777;
  font-family: 'jamsil_3';
  text-align: center;
}

.sp_item {
  overflow: hidden;
  display: inline-block;
  transition: 1s;
  white-space: nowrap;
}

#messages {
  position: fixed;
  bottom: 0;
  margin: 1em;
  color: #4caf50;
}